.weathericons {
   max-width: 15%;
   height: auto;
}

.fivedaydisplay {
   height: 100 rem;
   width: auto;

}

#background {
   background-color: #41236a;
}

.yellowfont {
   color: yellow
}

#forecastCityName {
   color: yellow;
}

.greenfont {
   color: lightgreen
}

.inlinedisplay {
   display: none;
}

#favoriteCityModal {
   display: none;
}

#displayfavoriteCityModal {
   display: block;
   position: fixed;
   width: 20%;
   height: 20%;
   background-color: yellow;
   z-index: 1;
   padding: 10px;
   color: purple;
   border: 3px solid black;
}

#closemodal {
   display: none;
}