.weathericons {
   max-width: 15%;
   height: auto;
}

.fivedaydisplay {
   height: 100 rem;
   width: auto;

}

#background {
   background-color: #41236a;
}

.yellowfont {
   color: yellow
}

#forecastCityName {
   color: yellow;
}

.greenfont {
   color: lightgreen
}

.close {
   display: none;
}

.favoriteCityModal {
   /*display: none; */
}

.displayFavoriteCityModal {
   display: block;
   position: fixed;
   width: 20%;
   height: 20%;
   background-color: yellow;
   z-index: 3;
   padding: 10px;
   color: #41236a;
   border: 3px solid black;
}

#closemodal {
   display: none;
}

.x {
   padding-left: 30px;
   border: 2px black;
}